.ShortLinkPanel {
  width: 100%;
  height: 95px;
  font-family: "Roboto";

  padding: 17px;
  background: white;
  border-radius: 17px;
  box-shadow: 1px 1px 3px rgb(219, 219, 219);
}
.ShortLinkPanel-title {
  font-size: 20px;
  font-weight: 500;
  background-color: inherit;
  white-space: nowrap;

  color: black;
  cursor: pointer;
}

.ShortLinkPanel-title:hover {
  color: rgb(26, 150, 252);
}

@media (max-width: 492px) {
  .ShortLinkPanel {
    display: flex;
    flex-direction: column-reverse;

    align-items: start;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
  }
  .ShortLinkPanel-link-box {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .ShortLinkPanel-icons-list {
    align-self: end;
    display: flex;
    justify-content: space-evenly;

    padding: 6px 3px 2px 3px;

    border-radius: 100px;
  }

  .ShortLinkPanel-icons-list li {
    margin-right: 30px;

    color: rgb(40, 43, 58);
    cursor: pointer;
  }

  .ShortLinkPanel-icons-list li:hover {
    color: rgb(26, 150, 252);
  }
  .ShortLinkPanel-icon {
    width: 23px;
    height: 23px;
  }
}
/* .ShortLinkPanel-icons-list {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgba(218, 218, 218, 0);
    box-sizing: content-box;
    border: 40px solid rgba(16, 202, 202, 0);
    /* border-bottom: 40px solid rgb(233, 233, 233); */
/* border-right: 40px solid rgb(20, 20, 20); */
/* border-right: 40px solid rgb(117, 117, 117); */
/* 
    border-radius: 50%; */

/* .ShortLinkPanel-icons-list::before,
  .ShortLinkPanel-icons-list::after {
    content: "";
    position: absolute;

    border-radius: 50%;
   
    background-color: rgb(20, 20, 20);
    
  }
  .ShortLinkPanel-icons-list::before {
    z-index: 5;
    width: 40px;
    height: 38px;
    top: -26.5px;
    right: -23.5px;
  }
  .ShortLinkPanel-icons-list::after {
    z-index: 5;
    width: 39px;
    height: 39.5px;
    bottom: -27px;
    right: -23px;
  } */

/* .ShortLinkPanel-icons-list li {
    position: absolute;
    z-index: 10;
    padding: 6px 8px;

    
    border-radius: 50%;

  }

  .ShortLinkPanel-icon-box1 {
    top: -21px;
    left: 49px;

    color: white;
   
    background: inherit;
  }
  .ShortLinkPanel-icon-box2 {
    top: 14px;
    left: 64px;
    color: white;
   
    background-color: inherit;
  }
  .ShortLinkPanel-icon-box3 {
    top: 49px;
    left: 50px;
    color: white;
    background: inherit;
  }

  .ShortLinkPanel-icon {
    width: 16px;
    height: 16px;
  }  */
/* .ShortLinkPanel-icon-box {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 11px;
    color: white;
    background: rgb(26, 150, 252);

    margin-bottom: 10px;
  }

  .ShortLinkPanel-icon-subbox {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 14%;
    right: 13%;
    width: 40px;
    height: 40px;
    border-radius: 11px;
    background: rgba(233, 232, 232, 0.678);
  }

  .ShortLinkPanel-icon {
    width: 24px;
    height: 24px;
    color: white;
  } */
