@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.Login-form {
  display: flex;
  flex-direction: column;
}

.Login-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 26px;
  color: black;
  cursor: default;
}

.Login-subtitle {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 12px;
  color: rgb(161, 160, 161);
}

input::placeholder {
  font-weight: 400;
  color: rgb(173, 173, 173);
}

input:focus {
  border: 2px solid rgb(26, 150, 252);
}

.Login-name {
  width: 320px;
  height: 56px;
  padding: 0px 5px 0px 25px;
  margin-bottom: 10px;
  outline: none;

  border: 2px solid rgb(242, 243, 245);
  border-radius: 10px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
}
.Login-pass-box {
  position: relative;
  /* margin-bottom: 20px; */

  z-index: 1;
}
.Login-pass {
  width: 320px;
  height: 56px;
  padding: 0px 5px 0px 25px;
  outline: none;
  border: 2px solid rgb(242, 243, 245);
  border-radius: 10px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
}

.Login-pass-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 2px;
  right: 2px;
  width: calc(15% - 2px);
  height: calc(100% - 4px);
  z-index: 10;

  background: white;
  border-radius: 10px;
  color: rgb(116, 116, 116);

  cursor: pointer;
}
.Login-pass-icon-box:hover {
  color: black;
}
.Login-pass-open {
  box-sizing: content-box;
  padding: 4px;
}
.Login-error-message {
  width: 320px;
  margin-top: 10px;
  padding: 0px 5px;
  font-weight: 400;
  font-size: 14px;
  color: red;
}
.Login-submit {
  align-self: start;

  position: relative;

  width: 135px;
  padding: 20px 0px;
  margin-top: 20px;

  border-radius: 21px;
  background-color: rgb(26, 150, 252);

  font-weight: 500px;
  font-family: "Roboto";
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 35%;
  left: 17%;

  width: 14px;
  height: 14px;
  background: rgba(16, 202, 202, 0);

  border-radius: 50%;
  border: 4px solid rgba(16, 202, 202, 0);
  border-top: 4px solid white;
  border-right: 4px solid white;

  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
}

@media (max-width: 479px) {
  .Login-form {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }
  .Login-title-box {
    width: 50%;
    padding: 10px 20px 5px 5px;
    background-image: linear-gradient(
      180deg,
      white 60%,
      rgba(255, 255, 255, 0.466)
    );
    border-top-right-radius: 45px;
  }

  .Login-name {
    width: 100%;
    height: 65px;
    font-size: 18px;

    background-color: inherit;
  }
  .Login-pass-box {
    width: 100%;
  }
  .Login-pass {
    width: 100%;
    height: 65px;
    font-size: 18px;

    background-color: inherit;
  }
  .Login-pass-icon-box {
    background: rgb(248, 250, 252);
  }
  .Login-error-message {
    width: 100%;
  }
  .Login-submit {
    width: 100%;
    border-radius: 25px;
    font-weight: 400;
    padding: 23px 0px;
  }

  .Login-name::placeholder {
    font-size: 16px;
  }
  .Login-pass::placeholder {
    font-size: 16px;
  }
}
