@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+Armenian:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Archivo Black";
  src: url("../../fonts/ArchivoBlack-Regular.ttf");
}

.AuthForms {
  width: 100%;
  position: relative;
  padding: 0px 30px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: "Roboto";
}

@media (max-width: 479px) {
}

.AuthForms-img-panel {
  position: relative;

  width: 500px;
  height: 500px;

  background-color: rgb(248, 250, 252);
}

.AuthForms-img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.AuthForms-panel {
}
.AuthForms-title-box {
  display: flex;
  flex-direction: column;
}

.AuthForms-title {
  position: relative;
  z-index: 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: rgb(0, 0, 0);

  padding-right: 8px;
  cursor: default;
}

.AuthForms-subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  color: rgb(39, 37, 37);

  transform: translateX(115px);
  cursor: default;
}

.AuthForms-subtitle span {
  color: rgb(26, 150, 252);
  font-weight: 400;

  cursor: default;
}

.alert-enter {
  opacity: 0;
  transform: translateX(100px);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 400ms, transform 400ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@media (max-width: 992px) {
  .AuthForms {
    flex-direction: column;
    justify-content: start;
  }
  .AuthForms-title-box {
    margin: 115px 125px 180px 0px;
    align-self: flex-end;
  }
  .AuthForms-panel {
    align-self: start;
    margin-left: 100px;
  }

  .alert-enter {
    opacity: 0;
    transform: translateX(-100px);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 400ms, transform 400ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}

@media (max-width: 479px) {
  .AuthForms {
    display: flex;
    flex-direction: column-reverse;

    padding: 20% 15px;
    justify-content: flex-end;
  }

  .AuthForms-title-box {
    /* align-self: stretch;
    position: fixed;
    top: -100px;
    right: -70px;
    z-index: 100; */
    /* display: none; */
    /* display: flex; */
  }

  .AuthForms-title-box {
    /* display: flex;
    flex-direction: column; */

    align-self: end;
    margin: 0;
  }
  .AuthForms-title {
    /* position: relative;
    z-index: 0;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: rgb(0, 0, 0);

    padding-right: 8px;
    cursor: default; */

    font-size: 42px;
  }

  .AuthForms-subtitle {
    /* font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    color: rgb(39, 37, 37);

    transform: translateX(0px);
    margin-left: 115px;
    cursor: default; */

    transform: translateX(0px);
    margin-left: 90px;

    font-size: 15px;
  }

  .AuthForms-subtitle span {
  }
  .AuthForms-panel {
    /* position: absolute;
    top: 13%;
    left: 0;
    right: 0; */
    height: 291px;
    align-self: baseline;
    width: 100%;
    margin: 0;
    margin-bottom: 20%;
  }
}

@media (max-width: 350px) {
}
